.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    margin: 1rem;
    width: 500px;
}

.item {
    display: flex;
    height: 500px;
    position: relative;
}
.item:hover .avatarImg img {
    filter: brightness(.85);
    transform: scale(1.1);

}
.item:hover .name {
    background-size: 0 3px, 100% 3px;
}
.avatarImg {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 0 rgb(0 0 0 / 20%);
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
}
.avatarImg img {
    /* border-radius: 10px; */
    filter: brightness(.9);
    object-fit: cover;
    transition: transform .5s ease-in-out, filter .5s ease-in-out;
    height: 100%;
    width: 100%;
}

.advisor {
    border-radius: 0 0 10px 10px;
    background: rgb(121, 115, 115);
    /* height: 100%; */
    /* padding: 24px; */
    position: relative;
    row-gap: 16px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.profile {
    row-gap: 10px;
    display: flex;
    flex-flow: column;
    padding: 10px 10px 20px;
}

.name {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    /* padding-bottom: 5px; */
}

.year {
    text-align: center;
}


.info {
    background: rgba(0, 0, 0, .5);
    border-radius: 12.5px;
    color: #fff;
    font-weight: 600;
    padding: 4px 10px;
    margin-right: 5px;
}



.skills {
    z-index: 1 ;
    position: relative;
    top:  50px; 
    left: 20px; 
}
.link{
    background-color: white;
    text-decoration: none; 
		border: none;
		padding: 10px 20px;
		color: #656565;
		border-radius: 100px;
		font-weight: 700;
		font-size: 15px;
		box-shadow: rgba(0, 7, 14, 0.452) 0px -1px 5px 0px inset,
      rgba(0, 0, 0, 0.205) 0px 2px 2px 0px;
}

